@{
    ViewData["Title"] = "La primerisima vista vistoza vistal";
    string autor = "Escriba su nombre";
    int edad = 22;
}

<html>
    <head>
        <title> ViewBag.Title</title>
    </head>

    <body>
        <div>
            <h1> Hola hola modificando la modificación modificativa </h1>
            <p> 
                <strong> Yo me llamo: </strong> @autor <br/>
                 Mi edad es: <input type ="number" value ="@edad" placer holder ="Deme su edad"/> 
            </p>
        </div>
        <div>
            <label> Equipo de trabajo de PI:</label>
        <input type="text" placeholder="Nombre de equipo">
    </div>
    </body>


</html>
